<a href="https://colab.research.google.com/github/toutbien/Coursera-Work/blob/main/BasicPandasTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
#basic table creation and dataframe management in python
#fictionally created lists of jobs and salaries

salary_1 = 65000
salary_2 = 70000
salary_3 = 80000
salary_4 = 100000
salary_5 = 121000

entry_it = 'Jr DevOps'
mid_it = 'DevOps Engineer'
sr_it = 'Sr DevOps'
sre = 'Site Rel Eng'
sr_sre = 'Sr Site Rel Eng'

import pandas as pd

Job_Salaries = [ [entry_it, salary_1],
                [mid_it, salary_2],
                [sr_it,salary_3],
                [sre, salary_4],
                [sr_sre,salary_5] ]
   
df = pd.DataFrame(Job_Salaries, columns = ["Title","Salary"])

print(df)

#to produce results on a single line from a dictionary:
#<----!
#Job_Salaries = dict(zip([entry_it,mid_it,sr_it,sre,sr_sre],[salary_1,salary_2,salary_3,salary_4,salary_5]))
#-----!>

             Title  Salary
0        Jr DevOps   65000
1  DevOps Engineer   70000
2        Sr DevOps   80000
3     Site Rel Eng  100000
4  Sr Site Rel Eng  121000